/* General setup */

@font-face {
    font-family: 'quicksand';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-family: "quicksand", serif;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family: "roboto", serif;

  }
  
  h2 {
    font-size: 2.4rem;
    font-family: "roboto", serif;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }