:root {
  --background-color: #172a3a;
  --dark-green: #004346;
  --mint: #09bc8a;
  --dark-blue: #508991;
  --light-blue: #74b3ce;
  --off-white: #faf9f6;
}

body {
  background-color: var(--background-color);
  color: var(--off-white);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 600px;
}

.header h1 {
  border-bottom: 2px solid var(--off-white);
  margin: 0;
  font-size: 2.5em;
}

#add-book {
  display: block;
  margin-left: 40px;
  font-size: 1.5em;
  padding: 0;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: black;
  background-color: var(--off-white);
  color: var(--background-color);
  transition: 0.25s ease-in-out;
}

#add-book:hover {
  background-color: var(--mint);
  color: var(--off-white);
  transform: scale(1.1);
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: none;
  z-index: 100;
}

.modal-content {
  position: relative;
  margin: auto;
  top: 50px;
  width: 350px;
  background-color: white;
  padding: 25px;
  color: black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 30px;
  height: 30px;
  border: 0;
  color: white;
  background-color: var(--dark-green);
  cursor: pointer;
  border-radius: 100%;
  align-self: center;
  transition: 0.25s ease-in-out;
  text-align: center;
}

.close:hover {
  transform: rotate(360deg);
  background-color: darkred;
}

/* All div children should flex colwise */
.book-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Exception for checkbox input */
#read-input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.book-form-buttom-row {
  display: flex;
  justify-content: end;
}

.book-form-buttom-row > button {
  background-color: var(--mint);
  color: var(--background-color);
  border: var(--off-white);
  height: 40px;
  border-radius: 5%;
}

#library {
  display: grid;
  grid-template-columns: repeat(2, minmax(21.875em, 1fr)); /* 350px / 16px */
  grid-template-rows: auto;
  gap: 1.875em; /* 30px / 16px */
}

.book {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 14px 10px 22px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.book h4 {
  display: flex;
  color: var(--mint);
  justify-self: center;
  margin-bottom: 5px;
}

.book span {
  display: flex;
  color: var(--off-white);
  justify-self: center;
}
